
<div class="page-wrapper">

  <div class="dash-content-wrap">
<div class="dash-breadcrumb">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="dash-breadcrumb-content">
          <div class="dash-breadcrumb-left">
            <div class="breadcrumb-menu text-right sm-left">
              <ul>
                <li class="active"><a href="#">Home</a></li>
                <li class="active"><a href="#">Dashboard</a></li>
                <li>Invoices</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="dash-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="invoice-panel">
          <div class="act-title">
            <h5><i class="bi bi-calendar-check"></i> les rendez vous Non accepter :</h5>
          </div>
          <div class="invoice-body">
            <div class="table-responsive">
              <table class="invoice-table">
                <thead>
                <tr class="invoice-headings">
                  <th>N°</th>
                  <th>Date</th>
                </tr>
                </thead>
                <tbody *ngFor="let rdv of tab;let  i = index ">
                <tr>
                  <td>
                    {{i+1}} </td>
                  <td>
                   {{rdv.date_rdv}}
                  </td>

                  <td>
                    <a click class="invoice-action" data-toggle="tooltip" title="accepter rdv " (click)="accepter(rdv)"> <i class="bi bi-calendar-check"></i></a>
                  </td>
                </tr>

                </tbody>
              </table>

              <div class="alert alert-warning" role="alert" *ngIf="tab.length==0">
                Ne trouvez pas des rendez vous non accepter
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
  </div>
</div>
