<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<body>

<!--Page Wrapper starts-->
<div class="page-wrapper fixed-footer">
  <div class="user-profile section-padding mar-top-30 bg-green-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="user-titlebar">
            <div class="user-avatar">
              <img src="{{entreprise.image}}" alt="">
            </div>
            <div class="user-name">
              <h4>{{entreprise.nomSociete}}</h4>
            </div>
            <div class="user-name">
              <h6>{{aviss}}</h6>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-light" style="width: 20%;height: 30%;margin-left: 30%">Ajouter l'avis</button>
      </div>
    </div>
  </div>
  <!--User Profile ends-->
  <!--User profile details starts-->
  <div class="list-details-section section-padding mar-top-40">
    <div class="container">
      <div class="row">

        <div class="listing-sidebar">
            <div class="boxed-widget">
              <h3><i class="icofont-contact-add"></i>Contact</h3>
              <div class="address">
                <span ><i class="bi bi-geo-alt"></i></span>
                <p>{{entreprise.adresse}} {{entreprise.ville}}</p>
              </div>
              <div class="address">
                <span ><i class="bi bi-telephone"></i></span>
                <p> {{entreprise.tel}}</p>
              </div>
              <div class="address">
                <span ><i class="bi bi-envelope"></i></span>
                <p> {{entreprise.email}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--<div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.7648541569456!2d10.809960885441344!3d35.707403736144876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1302120c69720997%3A0xe7e650d58fb609bf!2z2LTYsdmD2Kkg2KfZhNi12YPZhNmKINmIINi02LHZg9in2KbZhw!5e0!3m2!1sar!2stn!4v1651923861072!5m2!1sar!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>-->
   <span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
  <!-- Scroll to top ends-->

<!--Scripts ends-->
</body>

</html>
