<header class="header transparent scroll-hide">
  <!--Main Menu starts-->
  <div class="site-navbar-wrap v2">
    <div class="container">
      <div class="site-navbar">
        <div class="row align-items-center">
          <div class="col-md-4 col-6">
            <h2 style="color: #1ec38b;font-style: oblique 40deg;">Mawaaied</h2>            </div>
          <div class="col-md-8 col-6">
            <nav class="site-navigation float-left">
              <div class="container">
                <ul class="site-menu js-clone-nav d-none d-lg-block">
                  <li class="has-children">
                    <p style="color: black">Home</p>
                    <ul class="dropdown">
                      <li><a href="home-v1.html">Home Tab</a></li>
                    </ul>
                </ul>
              </div>
            </nav>
            <div class="d-lg-none sm-right">
              <a href="#" class="mobile-bar js-menu-toggle">
                <span class="ion-android-menu"></span>
              </a>
            </div>

          </div>
        </div>
      </div>
      <!--mobile-menu starts -->
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close  js-menu-toggle">
            <span class="ion-ios-close-empty"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <!--mobile-menu ends-->
    </div>
  </div>
  <!--Main Menu ends-->
</header>
<div class="dash-content" style="margin-top: 10%">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="recent-activity">
          <div class="act-title">
            <h5><i class="ion-person"></i>Profile Details</h5>
          </div>
          <div class="profile-wrap">
            <div class="row">
              <div class="col-md-8 offset-md-2 py-4">
                <div class="edit-profile-photo text-center">
                  <img src="{{entreprise.image}}" alt="">
                </div>
              </div>
              <div class="col-md-12">
                <div class="my-profile">
                  <ul class="db-profile-info">
                    <li>
                      <h6>First Name :</h6>
                      <span>{{entreprise.nomSociete}}</span>
                    </li>
                    <li>
                      <h6>Last Name :</h6>
                      <span> {{entreprise.nom_gerant}}</span>
                    </li>
                    <li>
                      <h6>Email Id :</h6>
                      <span> {{entreprise.email}}</span>
                    </li>
                    <li>
                      <h6>Phone :</h6>
                      <span> {{entreprise.tel}}</span>
                    </li>
                    <li>
                      <h6>Address :</h6>
                      <span>{{entreprise.adresse}} {{entreprise.ville}}</span>
                    </li>
                    <li>
                      <h6>Categorie :</h6>
                      <span>{{entreprise.categorie}}</span>
                    </li>
                    <li>
                      <div id="image-content">
                      <div class="qrcode-img">
                      <div id="qrcode"></div>
                      </div>
                      </div>
                      <button type="button" class="btn btn-outline-dark" (click)="saveImage()" style="margin-left: 20%;">Telecharger CodeQR</button>
                    </li>
                    <li> <button type="button" class="btn btn-outline-success" style="margin-left: 50%">Continue</button></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dash-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          <p>© 2022 Codynet</p>
        </div>
      </div>
    </div>
  </div>
</div>
