<!--

<div class="page-wrapper">

  <div class="dash-content-wrap">
    <div class="dash-breadcrumb">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="dash-breadcrumb-content">
              <div class="dash-breadcrumb-left">
                <div class="breadcrumb-menu text-right sm-left">
                  <ul>
                    <li class="active"><p>Home</p></li>
                    <li><i class="bi bi-arrow-right-short" style="width: 30%"></i></li>
                    <li>My Profile</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dash-content">
      <div class="container-fluid">
    <div class="col-md-10">
      &lt;!&ndash; col-lg-12 start here &ndash;&gt;
      <div class="panel panel-default plain" id="dash_0">
              &lt;!&ndash; col-lg-6 start here &ndash;&gt;
              <div id="cadre2"  >
                <ul class="list-unstyled text-right" >


                  <li ><strong> Nom d'entreprise:</strong>{{details.entreprise?.nomSociete}} </li>
                  <li ><strong> Tel:</strong> {{details.entreprise?.tel}}</li>
                  <li ><strong> E-mail:</strong> {{details.entreprise?.email}}</li>
                </ul>
              </div>
            <br>
            <hr />

            <div class="invoice-details mt3">
              <div class="well">
                <ul class="list-unstyled mb0" >
                  <li><strong>   Facture n°: </strong>{{details.num_facture}} </li>
                  <li><strong>   Date de creation: </strong>{{details.date_creation | date: 'dd/MM/yyyy' }}</li>


                </ul>
              </div>
            </div>
          </div>

          <div class="invoice-to mt25">
            <ul class="list-unstyled" id="cadre" >

              <li><strong> Nom de client: </strong>{{details.client?.nom}} {{details.client?.prenom}} </li>
              <li ><strong> Tel: </strong>{{details.client?.tel}}  </li>




            </ul>
          </div>
          <div class="invoice-items">
            <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
              <table class="table table-bordered">
                <thead>
                <tr class="cc">
                  <th class="per70 text-center">Description</th>
                  <th class="per5 text-center">Qty</th>
                  <th class="per25 text-center">Prix unitaire HT</th>
                  <th class="text-center">TVA</th>
                  <th  class="text-center">Remise</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-center">{{details.description}}</td>
                  <td class="text-center">{{details.quantite}}</td>
                  <td class="text-center">{{details.prix_unitaire_HT}}</td>
                  <td class="text-center">{{details.tva}}%</td>
                  <td class="text-center">{{details.remise}}%</td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>

              </table>

              <br><table style="margin-left: 50%">
              <tr>
                <th>TVA</th>
                <td>{{tv}}</td>
              </tr>
              <tr>
                <th>tolale_HT</th>
                <td>{{details.total_Ht}}</td>
              </tr>
              <hr width="150%" />
              <tr>
                <th    class="text-center">TOTAL TTC</th>
                <td  class="text-center">{{details.tolale_TTC}}</td>
              </tr>
            </table>
              <p id="color" class="text-center">arréte la présente facture à la somme de:{{letre | uppercase}}</p>


              <p>S'il vous plait, payez cette facture avant:{{x| date: 'dd/MM/yyyy'}}</p>
              <p>Nous vous remercions de votre confiance et de votre prompt règlement</p>


              <div class="qrcode-img">
                <div id="qrcode"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
          <button type="button" class="btn-secondary" style="margin-left: 90%;margin-top: 8px"(click)="onPrint()">Imprimer </button>



          &lt;!&ndash; End .row &ndash;&gt;
        </div>
&lt;!&ndash; End .panel &ndash;&gt;

    &lt;!&ndash; col-lg-12 end here &ndash;&gt;

<br>
<br>
<div>

  <h3 style="color: darkred;margin-left: 35%"> Si vous avez payer la facture en ligne cliquer ici <i class="bi bi-paypal" (click)="paypal()" ></i></h3>
</div>
-->
<div class="page-wrapper">
  <div class="dash-content-wrap">
<div class="dash-breadcrumb">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="dash-breadcrumb-content">
          <div class="dash-breadcrumb-left">
            <div class="breadcrumb-menu text-right sm-left">
              <ul>
                <li class="active"><a href="#">Home</a></li>
                <li class="active"><a href="#">Dashboard</a></li>
                <li>Invoice Details</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Dashboard breadcrumb ends-->



<!--Dashboard content starts-->
<div class="dash-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="payment_receipt--wrapper">
          <div class="payment_receipt--contents">
            <div id="cadre2"  >
              <ul class="list-unstyled text-right" >


                <li ><strong> Nom d'entreprise:</strong>{{details.entreprise?.nomSociete}} </li>
                <li ><strong> Tel:</strong> {{details.entreprise?.tel}}</li>
                <li ><strong> E-mail:</strong> {{details.entreprise?.email}}</li>
              </ul>
            </div>
            <br>
            <hr />

            <div class="invoice-details mt3">
              <div class="well">
                <ul class="list-unstyled mb0" >
                  <li><strong>   Facture n°: </strong>{{details.num_facture}} </li>
                  <li><strong>   Date de creation: </strong>{{details.date_creation | date: 'dd/MM/yyyy' }}</li>


                </ul>
              </div>
            </div>
          </div>

          <div class="invoice-to mt25">
            <ul class="list-unstyled" id="cadre" >

              <li><strong> Nom de client: </strong>{{details.client?.nom}} {{details.client?.prenom}} </li>
              <li ><strong> Tel: </strong>{{details.client?.tel}}  </li>




            </ul>
          </div>
          <div class="invoice-items">
            <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
              <table class="table table-bordered">
                <thead>
                <tr class="cc">
                  <th class="per70 text-center">Description</th>
                  <th class="per5 text-center">Qty</th>
                  <th class="per25 text-center">Prix unitaire HT</th>
                  <th class="text-center">TVA</th>
                  <th  class="text-center">Remise</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-center">{{details.description}}</td>
                  <td class="text-center">{{details.quantite}}</td>
                  <td class="text-center">{{details.prix_unitaire_HT}}</td>
                  <td class="text-center">{{details.tva}}%</td>
                  <td class="text-center">{{details.remise}}%</td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>

              </table>

              <br><table style="margin-left: 50%">
              <tr>
                <th>TVA</th>
                <td>{{tv}}</td>
              </tr>
              <tr>
                <th>tolale_HT</th>
                <td>{{details.total_Ht}}</td>
              </tr>
              <hr width="150%" />
              <tr>
                <th    class="text-center">TOTAL TTC</th>
                <td  class="text-center">{{details.tolale_TTC}}</td>
              </tr>
            </table>
              <p id="color" class="text-center">arréte la présente facture à la somme de:{{letre | uppercase}}</p>


              <p>S'il vous plait, payez cette facture avant:{{x| date: 'dd/MM/yyyy'}}</p>
              <p>Nous vous remercions de votre confiance et de votre prompt règlement</p>
            <div style="margin-left: 45% ">
              <qrcode [qrdata]="qrdata" [width]="256"     ></qrcode>
            </div>
            <div class="text-center mar-top-20"><a (click)="onPrint()" class="btn v3" style="width: 45%;background-color: #1e7e34">Imprimer cette facture</a></div>
              <div class="text-center mar-top-20"> <button type="button" class="btn v3" data-toggle="modal" data-target="#staticBackdrop" style="width: 45%;background-color: #1e7e34"> Payer
              </button></div>
              <!-- Modal -->

            </div>
        </div>
      </div>

    </div>
  </div>
</div>
  </div>
</div>
</div>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog"> <div class="modal-content">
    <div class="modal-body"> <div class="text-right">
      <i class="fa fa-close close" data-dismiss="modal"></i> </div>
      <div class="tabs mt-3"> <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="visa-tab" data-toggle="tab" href="#visa" role="tab" aria-controls="visa" aria-selected="true">
            <img src="https://i.imgur.com/sB4jftM.png" width="80"> </a> </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="paypal-tab" data-toggle="tab" href="#paypal" role="tab" aria-controls="paypal" aria-selected="false">
            <img src="https://i.imgur.com/yK7EDD1.png" width="80"> </a> </li> </ul> <div class="tab-content" id="myTabContent"> <div class="tab-pane fade show active" id="visa" role="tabpanel" aria-labelledby="visa-tab"> <div class="mt-4 mx-4"> <div class="text-center"> <h5>Credit card</h5> </div> <div class="form mt-3"> <div class="inputbox"> <input type="text" name="name" class="form-control" required="required"> <span>Cardholder Name</span> </div> <div class="inputbox"> <input type="text" name="name" min="1" max="999" class="form-control" required="required"> <span>Card Number</span> <i class="fa fa-eye"></i> </div> <div class="d-flex flex-row"> <div class="inputbox"> <input type="text" name="name" min="1" max="999" class="form-control" required="required"> <span>Expiration Date</span> </div> <div class="inputbox"> <input type="text" name="name" min="1" max="999" class="form-control" required="required"> <span>CVV</span> </div> </div> <div class="px-5 pay">
        <button class="btn btn-success btn-block">Add card</button>
      </div> </div> </div> </div>
        <div class="tab-pane fade" id="paypal" role="tabpanel" aria-labelledby="paypal-tab">
          <div class="px-5 mt-5">
            <div class="pay px-5">
            <div id="myPaypalButtons"></div>
          </div> </div> </div> </div> </div> </div> </div> </div>
</div>
