<!DOCTYPE html>
<html lang="en">



<body>
<div class="page-wrapper"  *ngFor=" let admin of admins ">


  <!--Sidebar Menu Starts-->
  <aside class="menu-sidebar js-right-sidebar d-block d-lg-none " >
    <div class="logo" style="height: 12%">
      <a href="#">
        <h6>Mawaaied</h6>
      </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar2">

      <div class="account-img">
        <img src="assets/admin.png"  />
      </div>
      <br>
      <h4 class="name">{{admin.name}}</h4>
      <nav class="navbar-sidebar2">
        <ul class="list-unstyled navbar__list">
          <li>
            <a (click)="adminEntreprise()" >
              <i class="bi bi-person"></i>entreprise</a>
          </li>
          <li>
            <a class="active" (click)="adminClient()">
              <i class="bi bi-person"></i>Client</a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-box-arrow-right"></i>deconnexion</a>
          </li>

        </ul>
      </nav>
    </div>

  </aside>
  <!--Sidebar Menu ends-->

  <!--Dashboard content Wrapper starts-->
  <div class="dash-content-wrap">

    <!-- Top header starts-->
    <header class="db-top-header">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-9 col-sm-6 col-4">
            <div class="site-navbar-wrap v2">
              <div class="site-navbar">
                <div class="row align-items-center">
                  <nav class="site-navigation float-left">
                    <div class="container">
                      <ul class="site-menu js-clone-nav d-none d-lg-block">
                        <li class="has-children">
                          <p>Home</p>
                          <ul class="dropdown">
                            <li><a routerLink="">Home</a></li>
                          </ul>
                        </li>

                      </ul>
                    </div>
                  </nav>
                  <div class="d-lg-none sm-right">
                    <a href="#" class="mobile-bar js-menu-toggle">
                      <span class="ion-android-menu"></span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="site-mobile-menu">
                <div class="site-mobile-menu-header">
                  <div class="site-mobile-menu-close  js-menu-toggle">
                  </div>
                </div>
                <div class="site-mobile-menu-body"></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-8">
            <div class="header-button">
              <div class="header-button-item js-sidebar-btn">
                <img src="assets/admin.png" alt="...">
                <span>{{admin.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="dash-breadcrumb">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="dash-breadcrumb-content">
              <div class="dash-breadcrumb-left">
                <div class="breadcrumb-menu text-right sm-left">
                  <ul>
                    <li class="active"><a >Home</a></li>
                    <li><i class="bi bi-arrow-right-short" style="width: 30%"></i></li>
                    <li>Client</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="container">

      <div class="row">

        <div class="col-md-6 offset-md-3 ">


        </div>

      </div>

    </div>
    <div class="dash-footer">
      <div class="container">

        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">nom de client</th>
            <th scope="col">email de client </th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>


          <tr  *ngFor=" let entreprise of clients" >
            <td>{{entreprise.id}}</td>
            <td>{{entreprise.nom}}</td>
            <td>{{entreprise.email}}</td>
            <td><a class="btn btn-danger"(click)="next(entreprise.id)"><i class="bi bi-check-square-fill"></i></a>



          </tbody>
        </table>

        <div class="row">
          <div class="col-md-12">

            <div class="copyright">
              <p>© 2019 Listagram . All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Dashboard footer ends-->
  </div>
  <!--Dashboard content Wrapper ends-->

</div>

</body>

</html>
