
<body>
<div class="page-wrapper">
  <div class="dash-content-wrap">

    <div class="dash-breadcrumb">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="dash-breadcrumb-content">
              <div class="dash-breadcrumb-left">
                <div class="breadcrumb-menu text-right sm-left">
                  <ul>
                    <li class="active"><a href="#">Accueil</a></li>
                    <li>Calendrier </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <scheduler-component></scheduler-component>

  </div>


</div>

</body>


