<div class="page-wrapper">
  <div class="dash-content-wrap">
<hr>
<div class="container" style="margin-left: 35%">
  <div class="row">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">Modifier mot de passe </h2>
              <p>vous pouvez changer votre mot de passe</p>
              <div class="panel-body">


                  <fieldset>
                    <div class="input-group mb-3">
                      <span class="input-group-text"  style="width: 100%">Mot de passe:</span>
                      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="this.lastpsswd">
                      </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" style="width: 100%">Nouveau mot de passe :</span>
                      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="this.nvpsswd">
                      </div>
                    <div class="form-group">
                      <input class="btn btn-lg btn-primary btn-block" value=" Confirmer " type="submit" (click)="modifier()">
                    </div>
                  </fieldset>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
