<!DOCTYPE html>
<html lang="en">



<body>


    <!--Dashboard breadcrumb ends-->
    <!--Dashboard content starts-->
    <div class="dash-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="recent-activity">
              <div class="act-title">
                <h5><i class="ion-person"></i>Profile Details</h5>
              </div>
              <div class="profile-wrap">
                <div class="row">
                  <div class="col-md-8 offset-md-2 py-4">
                    <div class="edit-profile-photo text-center">
                      <img src="{{details.images}}" alt="">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="my-profile">
                      <ul class="db-profile-info">
                        <li>
                          <h6>First Name :</h6>
                          <span>{{details.nom}}</span>
                        </li>
                        <li>
                          <h6>Last Name :</h6>
                          <span> {{details.prenom}}</span>
                        </li>
                        <li>
                          <h6>Email Id :</h6>
                          <span> {{details.email}}</span>
                        </li>
                        <li>
                          <h6>Phone :</h6>
                          <span> {{details.tel}}</span>
                        </li>
                        <li>
                          <h6>Address :</h6>
                          <span>{{details.adress}} {{details.ville}}</span>
                        </li>
                        <li>
                          <h6>Social Profile :</h6>
                          <ul class="social-profile">
                            <li class="bg-fb"><a href="https://www.facebook.com"><i class="ion-social-facebook"></i></a></li>
                            <li class="bg-tt"><a href="https://www.twitter.com"><i class="ion-social-twitter"></i></a></li>
                            <li class="bg-ig"><a href="https://www.instagram.com"><i class="ion-social-instagram"></i></a></li>
                          </ul>
                        </li>

                      </ul>
                      <a (click)="gotoeditprofile()" class="btn v5">Modifier profile</a>
                      <a (click)="delete(details)" class="btn v5" style="margin-left: 80%;background-color: red">Desactiver votre compte</a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</body>

</html>

