
<!--Page Wrapper starts-->
<div class="page-wrapper">

  <!--User Login section starts-->
  <div class="user-login-section section-padding bg-fixed"  style="background-image: url(../../assets/hero-5.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1  text-center">
          <div class="login-wrapper">
            <ul class="ui-list nav nav-tabs justify-content-center mar-bot-30" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#login" role="tab" aria-selected="true">Se connecter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#register" role="tab" aria-selected="false">s'inscrire</a>
              </li>
            </ul>
            <div class="ui-dash tab-content">
              <div class="tab-pane fade show active" id="login" role="tabpanel">
                <form id="login-form" >
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="email" value="" required [(ngModel)]="email">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" [(ngModel)]="mdp">
                  </div>
                  <div class="row mar-top-20">
                    <div class="col-md-6 col-12 text-left">
                      <div class="res-box">
                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                        <label for="remember">Souviens-toi de moi</label>
                      </div>
                    </div>
                    <div class="col-md-6 col-12 text-right">
                      <div class="res-box sm-left">
                        <a href="#" tabindex="5" class="forgot-password">Mot de passe oublié</a>
                      </div>
                    </div>
                  </div>
                  <div class="res-box text-center mar-top-30">
                    <button type="submit" class="btn v3" (click)="register()"> Connexion</button>
                  </div>
                </form>
                <div class="social-profile-login text-center mar-top-30">
                  <h5>ou Connectez-vous avec</h5>
                  <ul class="social-btn">
                    <li class="bg-fb"><a (click)="loginWithFacebook()"><i class="bi bi-facebook"></i></a></li>
                    <li class="bg-tt" style="background-color: red"><a (click)="loginWithGoogle()"><i class="bi bi-google"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="register" role="tabpanel" style="margin-top: 20%">
                <form id="register-form" >

                  <div class="form-group" >
                    <a class="btn v3" role="button" routerLink="/entreprise" style="width: 85%" >Espace Professionelle</a>

                  </div>
                  <div class="form-group" style="margin-top: 20%">
                    <a class="btn v3" role="button" routerLink="/client"  style="width: 85%">Espace Client</a>
                  </div>
                </form>
                <div class="social-profile-login text-center mar-top-30">
                  <h5>or Login with</h5>
                  <ul class="social-btn">
                    <li class="bg-fb"><a (click)="loginWithFacebook()"><i class="bi bi-facebook"></i></a></li>
                    <li class="bg-tt" style="background-color: red"><a (click)="loginWithGoogle()"><i class="bi bi-google"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--User login section ends-->
  <!--Login section ends-->
  <!-- Scroll to top starts-->
  <span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
  <!-- Scroll to top ends-->
</div>

