<!DOCTYPE html>
<html dir="ltr" lang="en-US">



<body>
<!--Page Wrapper starts-->

  <!--Header ends-->
  <!--Contact section starts-->
  <div class="contact-section v1 section-padding">
    <div class="container-fluid px-0">
      <div class="row">
        <div class="col-md-12">
          <div class="contact-map v1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" width="1920" height="400" style="border:0"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12">
          <h3>Write to us</h3>

            <div class="form-control-wrap">
              <div id="message" class="alert alert-danger alert-dismissible fade"></div>
              <div class="form-group">
                <input type="text" class="form-control" id="fname" placeholder="Name*" name="fname">
              </div>
              <div class="form-group mar-top-40">
                <input type="email" class="form-control" id="email" placeholder="email*" name="email">
              </div>
              <div class="form-group mar-top-60">
                <textarea class="form-control" rows="10" name="comment" id="comment" placeholder="Your Message"></textarea>
              </div>
              <div class="form-group mar-top-40">
                <button type="submit" class="btn v7">Send Message</button>
              </div>
            </div>

        </div>
        <div class="col-lg-4 offset-lg-1 col-md-12">
          <div class="contact-widget sidebar-widget res-box mar-bot-30">
            <h3>Our Office</h3>
            <img src="images/others/office.jpg" alt="...">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deserunt ea, eius, adipisci ipsa facilis.</p>
          </div>
          <div class="sidebar-widget mar-bot-0">
            <div class="business-time">
              <div class="business-title">
                <h6><i class="ion-android-alarm-clock"></i> Business Hours</h6>
                <span class="float-right">Open Now</span>
              </div>
              <ul class="business-hours">
                <li class="business-open">
                  <span class="day">Saturday</span>
                  <div class="atbd_open_close_time">
                    <span class="time">11:00 am</span> - <span class="time">06:00 pm</span>
                  </div>
                </li>
                <li class="business-open trend-closed">
                  <span class="day">Sunday</span>
                  <div class="atbd_open_close_time">
                    <span class="time">Closed</span>
                  </div>
                </li>
                <li class="business-open">
                  <span class="day">Monday</span>
                  <div class="atbd_open_close_time">
                    <span class="time">10:00 am</span> - <span class="time">06:00 pm</span>
                  </div>
                </li>
                <li class="business-open">
                  <span class="day">Tuesday</span>
                  <div class="atbd_open_close_time">
                    <span class="time">10:00 am</span> - <span class="time">06:30 pm</span>
                  </div>
                </li>
                <li class="business-open">
                  <span class="day">Wednesday</span>
                  <div class="atbd_open_close_time">
                    <span class="time">09:00 am</span> - <span class="time">05:00 pm</span>
                  </div>
                </li>
                <li class="business-open">
                  <span class="day">Thursday</span>
                  <div class="atbd_open_close_time">
                    <span class="time">10:00 am</span> - <span class="time">07:00 pm</span>
                  </div>
                </li>
                <li class="business-open">
                  <span class="day">Friday</span>
                  <div class="atbd_open_close_time">
                    <span class="time">11:00 am</span> - <span class="time">06:00 pm</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
