
<html lang="en" style="width: 75%;height:50%;">
<div class="container bootdey">
  <div class="row invoice row-printable">
    <div class="col-md-10">
      <!-- col-lg-12 start here -->
      <div class="panel panel-default plain" id="dash_0">
        <!-- Start .panel -->
        <div class="panel-body p30">
          <div class="row">
            <!-- Start .row -->
            <div class="col-lg-6">
              <!-- col-lg-6 start here -->

            </div>
            <div>

              <!-- col-lg-6 end here -->
              <div class="col-lg-6">
                <!-- col-lg-6 start here -->
                <div >
                  <img src="{{details.entreprise?.image}}" style="width: 5cm;" id="lo" alt=""/>


                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <!-- col-lg-6 start here -->
              <div id="cadre2" >
                <ul class="list-unstyled text-right" >


                  <li style="margin-left:0.3cm;"><strong> Nom d'entreprise:</strong>{{details.entreprise?.nomSociete}} </li>
                  <li style="margin-left:0.3cm;"><strong> Tel:</strong> {{details.entreprise?.tel}}</li>
                  <li style="margin-left:0.3cm;"><strong> E-mail:</strong> {{details.entreprise?.email}}</li>
                </ul>
              </div>
            </div><br>
            <hr width="100%" color="green" />

            <div class="invoice-details mt3">
              <div class="well">
                <ul class="list-unstyled mb0" >
                  <li><strong>   Facture n°: </strong>{{details.num_facture}} </li>
                  <li><strong>   Date de creation: </strong>{{details.date_creation | date: 'dd/MM/yyyy' }}</li>


                </ul>
              </div>
            </div>
          </div>

          <div class="invoice-to mt25">
            <ul class="list-unstyled" id="cadre" >

              <li style="margin-left:0.3cm;"><strong> Nom de client: </strong>{{details.client?.nom}} {{details.client?.prenom}} </li>
              <li style="margin-left:0.3cm;"><strong> Tel: </strong>{{details.client?.tel}}  </li>




            </ul>
          </div>
          <div class="invoice-items">
            <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
              <table class="table table-bordered">
                <thead>
                <tr class="cc">
                  <th class="per70 text-center">Description</th>
                  <th class="per5 text-center">Qty</th>
                  <th class="per25 text-center">Prix unitaire HT</th>
                  <th class="text-center">TVA</th>
                  <th  class="text-center">Remise</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-center">{{details.description}}</td>
                  <td class="text-center">{{details.quantite}}</td>
                  <td class="text-center">{{details.prix_unitaire_HT}}</td>
                  <td class="text-center">{{details.tva}}%</td>
                  <td class="text-center">{{details.remise}}%</td>



                </tr>


                </tbody>
                <tfoot>




                </tfoot>

              </table>

              <br><table style="margin-left: 50%">
              <tr>
                <th>TVA</th>
                <td>{{tv}}</td>
              </tr>
              <tr>
                <th>tolale_HT</th>
                <td>{{details.total_Ht}}</td>
              </tr>
              <hr width="150%" />
              <tr>
                <th    class="text-center">TOTAL TTC</th>
                <td  class="text-center">{{details.tolale_TTC}}</td>
              </tr>
            </table>
              <p id="color" class="text-center">arréte la présente facture à la somme de:{{letre | uppercase}}</p>


              <p>S'il vous plait, payez cette facture avant:{{x| date: 'dd/MM/yyyy'}}</p>
              <p>Nous vous remercions de votre confiance et de votre prompt règlement</p>


              <div class="qrcode-img">
                <div id="qrcode"></div>
              </div>
            </div>
          </div>
          <button type="button" class="btn-secondary" style="margin-left: 90%;margin-top: 8px"(click)="onPrint()">Imprimer </button>



          <!-- End .row -->
        </div>
      </div>
      <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
  </div>
</div>
<br>
<br>
<div>
  <h3 style="color: darkred;margin-left: 35%"> Si vous avez payer la facture en ligne cliquer ici <i class="bi bi-paypal" (click)="paypal()" ></i></h3>
</div>
</html>

