
<div class="page-wrapper">

  <div class="dash-content-wrap">
    <div class="dash-breadcrumb">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="dash-breadcrumb-content">
              <div class="dash-breadcrumb-left">
                <div class="breadcrumb-menu text-right sm-left">
                  <ul>
                    <li class="active"><a href="#">Accueil</a></li>

                    <li>Les factures</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dash-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="invoice-panel">
              <div class="act-title">
                <h5><i class="bi bi-receipt-cutoff"></i> les factures :</h5>
              </div>
              <div class="invoice-body">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search..."
                    [(ngModel)]="filterTerm"
                  />
                </div>
                <div class="table-responsive">
                  <table class="invoice-table">
                    <thead>
                    <tr class="invoice-headings">

                      <th scope="col">Numero facture </th>
                      <th scope="col">Nom Entreprise </th>
                      <th scope="col">Email Entreprise </th>
                      <th scope="col">Etat Facture </th>
                      <th scope="col">    </th>
                      <th scope="col">    </th>
                    </tr>

                    </thead>
                    <tbody *ngFor="let rdvv of tab_fac |paginate: { itemsPerPage: 3, currentPage: p }| filter: filterTerm">
                    <tr>
                      <td>{{rdvv.num_facture}}</td>
                      <td>{{rdvv.entreprise?.nomSociete}}</td>
                      <td>{{rdvv.entreprise?.email}}</td>
                      <td>{{rdvv.etat}}</td>

                      <td><a type="button" class="btn btn-info"   [routerLink]="['/client/', client.id,'facture_details',rdvv.id_facture]"><i class="bi bi-check-square-fill"></i> </a></td>
                    </tr>
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  <div class="alert alert-warning" role="alert" *ngIf="tab_fac.length==0">
                    Ne trouvez pas des factures pour le moment ..
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
