
<!DOCTYPE html>
<html lang="en">
<body>
<div class="page-wrapper">

  <!--Sidebar Menu Starts-->
  <aside class="menu-sidebar js-right-sidebar d-block d-lg-none">
    <div class="menu-sidebar__content js-scrollbar2">
      <div class="account-img">
        <img src="{{entreprise.image}}" alt="Steve Austin" />
      </div>
      <h4 class="name">{{entreprise.nomSociete}}</h4>
      <nav class="navbar-sidebar2">
        <ul class="list-unstyled navbar__list">
          <li>
          <li>
            <a  class="active">
              <i class="bi bi-person"></i>My profile</a>
          </li>
          <li>

            <a href="db.html">
              <i class="bi bi-house"></i>Accueil
            </a>
          </li>
          <!--       <li class="has-sub">
                   <a class="js-arrow" href="#">
                     <i class="ion-social-buffer-outline"></i>My Listings
                   </a>
                   <ul class="list-unstyled navbar__sub-list js-sub-list">
                     <li>
                       <a href="db-my-listing.html">Active</a>
                       <span class="inbox-num active">6</span>
                     </li>
                     <li>
                       <a href="db-my-listing.html">Pending</a>
                       <span class="inbox-num pending">8</span>
                     </li>
                     <li>
                       <a href="db-my-listing.html">Expired</a>
                       <span class="inbox-num expired">12</span>
                     </li>
                   </ul>
                 </li>-->

          <!--     <li>
                 <a href="db-bookings.html">
                   <i class="ion-ios-copy-outline"></i>Bookings</a>
               </li>-->
          <li>
            <a href="db-messages.html">
              <i class="bi bi-chat"></i>Messagerie</a>

          </li>
          <!--
                  <li>
                    <a href="db-favourites.html">
                      <i class="ion-ios-heart-outline"></i>Favourites</a>
                  </li>-->
          <!--        <li>
                    <a href="db-add-listing.html">
                      <i class="ion-ios-plus-outline"></i>Add Listings</a>
                  </li>-->
          <!--        <li class="has-sub">
                    <a class="js-arrow" href="#">
                      <i class="ion-ios-star-outline"></i>Reviews
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                      <li>
                        <a href="db-recieve-reviews.html">
                          Recieved Reviews</a>
                        <span class="inbox-num active">6</span>
                      </li>
                      <li>
                        <a href="db-submit-reviews.html">
                          Submitted reviews</a>
                        <span class="inbox-num pending">8</span>
                      </li>
                    </ul>
                  </li>-->

          <li>
            <a href="db-my-profile.html">
              <i class="bi bi-receipt"></i>Facture</a>
          </li>
          <li>
            <a href="db-my-profile.html">
              <i class="bi bi-calendar-date"></i>Rendez_Vous</a>
          </li>
          <!--        <li>
                    <a href="db-invoices.html">
                      <i class="ion-ios-printer-outline"></i>Invoices</a>
                  </li>-->
          <li>
            <a href="#">
              <i class="bi bi-box-arrow-right"></i>deconnexion</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!--Sidebar Menu ends-->

  <!--Dashboard content Wrapper starts-->
  <div class="dash-content-wrap">

    <!--Dashboard breadcrumb starts-->
    <div class="dash-breadcrumb">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="dash-breadcrumb-content">
              <div class="dash-breadcrumb-left">
                <div class="breadcrumb-menu text-right sm-left">
                  <ul>
                    <li ><a >Home</a></li>
                    <li>Rendez_vous</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-calend></app-calend>


  </div>

</div>

</body>

</html>
