
<!DOCTYPE html>
<html lang="en">
<body>
<div class="page-wrapper">

  <!--Sidebar Menu Starts-->
  <aside class="menu-sidebar js-right-sidebar d-block d-lg-none " >
    <div class="logo" style="height: 12%">
      <a href="#">
        <h6>Mawaaied</h6>
      </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar2">

      <div class="account-img">
        <img src="{{entreprise.image}}" alt="Steve Austin" />
      </div>
      <br>
      <h4 class="name">{{entreprise.nomSociete}}</h4>
      <nav class="navbar-sidebar2">
        <ul class="list-unstyled navbar__list">
          <li>
            <a class=" dropdown-toggle"  style="height: 20%" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person"></i>
              My Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><button class="dropdown-item" type="button" (click)="edit(entreprise.id)">Parametre Profile </button></li>
              <li><button class="dropdown-item" type="button" (click)="profile(entreprise.id)">Consulter Profile </button></li>
            </ul>
          </li>
          <li>
            <a (click)="accuiel(entreprise.id)" >
              <i class="bi bi-house"></i>Accueil
            </a>
          </li>
          <li>
            <a >
              <i class="bi bi-chat"></i>Messagerie</a>
          </li>
          <li>
            <a  (click)="facture(entreprise.id)">
              <i class="bi bi-receipt"></i>Facture</a>
          </li>
          <li>
            <a class=" dropdown-toggle"  style="height: 20%" data-bs-toggle="dropdown" aria-expanded="false"> <i class="bi bi-calendar-date"></i>Rendez_vous
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><button class="dropdown-item" type="button" (click)="rendez_vous(entreprise.id)">Afficher calendrier  </button></li>
              <li><button class="dropdown-item" type="button" (click)="rdv(entreprise.id)">Manipuler les rendez_vous </button></li>
            </ul>
          </li>
          <li>
            <a  (click)="avis(entreprise.id)" >
              <i class="bi bi-chat-square-text"></i>Commentaire</a>
          </li>
        </ul>
      </nav>
    </div>

  </aside>
  <!--Sidebar Menu ends-->

  <!--Dashboard content Wrapper starts-->
  <div class="dash-content-wrap">

    <!-- Top header starts-->
    <header class="db-top-header">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-9 col-sm-6 col-4">
            <div class="site-navbar-wrap v2">
              <div class="site-navbar">
                <div class="row align-items-center">
                  <nav class="site-navigation float-left">
                    <div class="container">
                      <ul class="site-menu js-clone-nav d-none d-lg-block">
                        <li class="has-children">
                          <p>Home</p>
                          <ul class="dropdown">
                            <li><a routerLink="">Home</a></li>
                          </ul>
                        </li>

                      </ul>
                    </div>
                  </nav>
                  <div class="d-lg-none sm-right">
                    <a href="#" class="mobile-bar js-menu-toggle">
                      <span class="ion-android-menu"></span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="site-mobile-menu">
                <div class="site-mobile-menu-header">
                  <div class="site-mobile-menu-close  js-menu-toggle">
                    <span class="ion-ios-close-empty"></span>
                  </div>
                </div>
                <div class="site-mobile-menu-body"></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-8">
            <div class="header-button">
              <div class="header-button-item js-sidebar-btn">
                <img src="{{entreprise.image}}" alt="...">
                <span>{{entreprise.nomSociete}}</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Top header ends-->

    <!--Dashboard breadcrumb starts-->
    <div class="dash-breadcrumb">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="dash-breadcrumb-content">
              <div class="dash-breadcrumb-left">
                <div class="breadcrumb-menu text-right sm-left">
                  <ul>
                    <li class="active"><p>Home</p></li>
                    <li><i class="bi bi-arrow-right-short" style="width: 30%"></i></li>
                    <li>My Profile</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Dashboard breadcrumb ends-->
    <!--Dashboard content starts-->
    <div class="dash-content">
      <div class="container-fluid">
        <div class="row">
          <div class="table-wrapper">
            <table class="fl-table" style="margin-left:-5%">
              <thead>
              <tr>
                <th>Nom :</th>
                <th>prenom:</th>
                <th>Email:</th>
                <th>Nombre des etoile </th>
                <th>Commentaire</th>
                <th></th>
              </tr>
              </thead>
              <tbody *ngFor="let avis of maha">
              <tr>
                <td>{{avis.nom_auteur}}</td>
                <td>{{avis.prenom_auteur}}</td>
                <td>{{avis.email_auteur}}</td>
                <td>{{avis.start}}</td>
                <td>{{avis.description}}</td>
                <td><button type="button" class="btn btn-danger"  style="background-color: red" (click)="delete(avis)">
                  <i class="bi bi-x-square"></i>
                  Supprimer </button>
                </td>
              </tr>
              <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--Dashboard content ends-->

    <!--Dashboard footer starts-->
    <div class="dash-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              <p>© 2022 Codynet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Dashboard footer ends-->
  </div>
  <!--Dashboard content Wrapper ends-->
</div>


</body>

</html>

