
<!DOCTYPE html>
<html lang="en">
<body>
<div class="page-wrapper">

  <!--Sidebar Menu Starts-->
  <aside class="menu-sidebar js-right-sidebar d-block d-lg-none " >
    <div class="logo" style="height: 12%">
      <a href="#">
        <h6>Mawaaied</h6>
      </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar2">

      <div class="account-img">
        <img src="{{client.images}}" alt="Steve Austin" />
      </div>
      <br>
      <h4 class="name">{{client.nom}}{{client.prenom}}</h4>
      <nav class="navbar-sidebar2">
        <ul class="list-unstyled navbar__list">
          <li>
          <li>

            <a class=" dropdown-toggle"  style="height: 20%" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person"></i>

              My Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><button class="dropdown-item" type="button" (click)="edit(client.id)">Parametre Profile </button></li>
              <li><button class="dropdown-item" type="button" (click)="profile(client.id)">Consulter Profile </button></li>
            </ul>

          </li>
          <li>

            <a class="active" (click)="accuiel(client.id)" >
              <i class="bi bi-house"></i>Accueil
            </a>
          </li>

          <li>
            <a >
              <i class="bi bi-chat"></i>Messagerie</a>
          </li>
          <li>
            <a  (click)="facture(client.id)">
              <i class="bi bi-receipt"></i>Facture</a>
          </li>
          <li>
            <a  (click)="rendez_vous(client.id)">
              <i class="bi bi-calendar-date"></i>Rendez_Vous</a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-box-arrow-right"></i>deconnexion</a>
          </li>

        </ul>
      </nav>
    </div>

  </aside>
  <!--Sidebar Menu ends-->

  <!--Dashboard content Wrapper starts-->
  <div class="dash-content-wrap">

    <!-- Top header starts-->
    <header class="db-top-header">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-9 col-sm-6 col-4">
            <div class="site-navbar-wrap v2">
              <div class="site-navbar">
                <div class="row align-items-center">
                  <nav class="site-navigation float-left">
                    <div class="container">
                      <ul class="site-menu js-clone-nav d-none d-lg-block">
                        <li class="has-children">
                          <p>Home</p>
                          <ul class="dropdown">
                            <li><a routerLink="">Home</a></li>
                          </ul>
                        </li>

                      </ul>
                    </div>
                  </nav>
                  <div class="d-lg-none sm-right">
                    <a href="#" class="mobile-bar js-menu-toggle">
                      <span class="ion-android-menu"></span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="site-mobile-menu">
                <div class="site-mobile-menu-header">
                  <div class="site-mobile-menu-close  js-menu-toggle">
                    <span class="ion-ios-close-empty"></span>
                  </div>
                </div>
                <div class="site-mobile-menu-body"></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-8">
            <div class="header-button">
              <div class="header-button-item js-sidebar-btn">
                <img src="{{client.images}}" alt="...">
                <span>{{client.nom}} {{client.prenom}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Top header ends-->

    <!--Dashboard breadcrumb starts-->
    <div >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="dash-breadcrumb-content">
              <div class="dash-breadcrumb-left">
                <div class="breadcrumb-menu text-right sm-left">
                  <ul>
                    <li class="active"><p >Home</p></li>
                    <li><i class="bi bi-arrow-right-short" style="width: 30%"></i></li>
                    <li>Accuiel</li>
                  </ul>
                  <ul>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top:0.9%">

      <div class="row">

        <div class="col-md-6 offset-md-3 ">

          <div class="chart-wrapper">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [type]="barChartType">
            </canvas>
          </div>

        </div>

      </div>

    </div>
    <!--Dashboard footer starts-->
    <div class="dash-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              <p>© 2022 Codynet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Dashboard footer ends-->
  </div>
  <!--Dashboard content Wrapper ends-->

</div>

</body>

</html>
