
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <!-- Metas -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="LionCoders" />
  <!-- Links -->
  <link rel="icon" type="image/png" href="#" />
  <!-- google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
  <!-- Plugins CSS -->

</head>

<body>
<!--Preloader starts-->
<!--Page Wrapper starts-->
<div class="page-wrapper">
  <!--header starts-->
  <header >
    <!--Main Menu starts-->
    <div class="site-navbar-wrap v1">
      <div class="container">
        <div class="site-navbar" style="margin-left: 72%;">
          <div class="row align-items-center">

            <div class="col-md-8 col-6">
              <nav class="site-navigation float-left" >
                <div class="container">
                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li>
                      <i class="bi bi-house" style="color: whitesmoke"></i><a routerLink="">Accuiel</a>
                    </li>
                    <li >
                      <i class="fa fa-sign-in" aria-hidden="true" style="color: whitesmoke" ></i> <a routerLink="login">Se connecter </a>

                        </li>
                        <li >
                          <i class="fa fa-user-plus" aria-hidden="true" style="color: whitesmoke" routerLink="/type_espace"></i>
                          <a >S'inscrire</a>
                        </li>
                  </ul>
                </div>
              </nav>
              <div class="d-lg-none sm-right">
                <a href="#" class="mobile-bar js-menu-toggle">
                  <span class="ion-android-menu"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--mobile-menu starts -->
        <div class="site-mobile-menu">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close  js-menu-toggle">
              <span class="ion-ios-close-empty"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div>
        <!--mobile-menu ends-->
      </div>
    </div>
    <!--Main Menu ends-->
  </header>
  <!--Header ends-->
  <!--Hero section starts-->
  <div class="hero v3 section-padding" style="background-image: url(../../assets/hero-5.jpg)">

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="hero-title v2">
            Prenez votre rendez vous
          </h1>
          <p class="hero-desc v2">
            Annuaire Tunisie, Bons plans, Actualités, Site web ...
          </p>
        </div>
        <div class="col-md-12 text-center mar-top-20">
          <div class="hero__form v2 mar-bot-30">
            <div class="row">
              <div class="col-lg-5 col-md-12">
                <input class="hero__form-input " type="text" name="categorie" id="place-event" placeholder="categorie..." [(ngModel)]="nom"  >
              </div>
              <div class="col-lg-5 col-md-12">
                <input class="hero__form-input " type="text" name="ville" id="place-event1" placeholder="ville..." [(ngModel)]="categorie"  >
              </div>

              <div class="col-lg-2 col-md-12">
                <div class="submit_btn text-right md-left">
                  <button class="btn v3  mar-right-5" type="submit" (click)="search()"> Search</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Hero section ends-->
  <br>
  <!--Promo Category starts-->
  <div class="hero-catagory mar-top-30 section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hero-catagory-wrapper v1">
            <a  class="hero-category-content v1" (click)="cv()">
              <i class="icofont-hotel"></i>
              <p class="name">fieance</p>
              <p class="d-name">{{test}}</p>
            </a>
            <a (click)="restau()" class="hero-category-content v1">
              <i class="icofont-restaurant"></i> <br>
              <p class="name" >Restaurent</p>
              <p class="d-name">{{testing}}</p>
            </a>

            <a (click)="beau()" class="hero-category-content v1">
              <i class="icofont-cut"></i> <br>
              <p class="name">Beauty & spa</p>
              <p class="d-name">{{beauty}}</p>
            </a>

            <a (click)="docteur()" class="hero-category-content v1">
              <i class="icofont-list"></i> <br>
              <p class="name">docteur</p>
              <p class="d-name">{{medecin}}</p>
            </a>
            <a href="grid-fullwidth.html" class="hero-category-content v1">
              <i class="icofont-list"></i> <br>
              <p class="name">docteur</p>
              <p class="d-name">28 Locations</p>
            </a>
            <a href="grid-fullwidth.html" class="hero-category-content v1">
              <i class="icofont-list"></i> <br>
              <p class="name">docteur</p>
              <p class="d-name">28 Locations</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Nos valeurs</h2>
        <p>Nos valeurs</p>
      </header>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="../assets/values-1.png" class="img-fluid" alt="">
            <h3>facilite de recherche des entreprises </h3>
            <p class="sous-text">Vous pouvez Trouvez facilement les details d’entreprise pour reserver un rendez_vous en 2 minutes</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="../assets/values-2.png" class="img-fluid" alt="">
            <h3>Sécurité</h3>
            <p class="sous-text">Nos serveurs et notre réseau sont protégés par une technologie de pointe pour garder vos informations personnelles et les détails de votre carte privés.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="../assets/values-3.png" class="img-fluid" alt="">
            <h3>Efficacité </h3>
            <p class="sous-text">Nous sommes efficaces ! Immédiatement après la réservation, vous trouverez votre confirmation de réservation dans votre boîte aux lettres.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->
  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Fonctionnalités </h2>
        <p>L’ensemble de nos fonctionnalités ont été développées pour rendre votre agenda plus agile et atteindre votre organisation idéale</p>
      </header>

      <div class="row">

        <div class="col-lg-6">
          <img src="assets/features.png" class="img-fluid" alt="" style="width: 90%;height: 80%">
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="row align-self-center gy-4">

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Rendez-vous sur Internet</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>
                  Rappels par SMS et/ou e-mail
                </h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Agenda partagé</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Synchronisation</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Paiement en ligne</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Push notification </h3>
              </div>
            </div>

          </div>
        </div>

      </div> <!-- / row -->
    </div>
  </section><!-- End Features Section -->
  <!-- ======= Cta Section ======= -->
  <!--Promo Category ends-->
  <!--Popular City starts-->
  <div class="popular-catagory section-padding pad-bot-50">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h2 class="section-title v1">Explore your Dream Places</h2>
        </div>
        <div class="col-md-4">
          <div class="popular-item sm-grid mar-bot-30">
            <div class="single-place">
              <img class="single-place-image" src="assets/sfax.jpg" alt="place-image">
              <div class="single-place-content">
                <h2 class="single-place-title">
                  <a href="#">Sfax</a>
                </h2>
                <ul class="single-place-list v2">
                  <li><span></span> Listings</li>
                </ul>
                <a class="btn v6 explore-place" href="grid-fullwidth-map.html">Explore</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="popular-item sm-grid mar-bot-30">
            <div class="single-place">
              <img class="single-place-image" src="assets/sousse.jpg" alt="place-image">
              <div class="single-place-content">
                <h2 class="single-place-title">
                  <a href="#">Sousse</a>
                </h2>
                <ul class="single-place-list v2">
                  <li><span>{{souss}}</span> Listings</li>
                </ul>
                <a class="btn v6 explore-place" (click)="sousse()">Explore</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="popular-item sm-grid mar-bot-30">
            <div class="single-place">
              <img class="single-place-image" src="assets/monastir.jpg"   (click)="monastir()" alt="place-image">
              <div class="single-place-content">
                <h2 class="single-place-title">
                  <a  (click)="monastir()">Monastir </a>
                </h2>
                <ul class="single-place-list v2">
                  <li><span>{{mestir}}</span> Listings</li>
                </ul>
                <a class="btn v6 explore-place" (click)="monastir()">Explore</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="popular-item sm-grid mar-bot-30">
            <div class="single-place">
              <img class="single-place-image" src="assets/mahdia.jpg" alt="place-image">
              <div class="single-place-content">
                <h2 class="single-place-title">
                  <a href="#">Mahdia</a>
                </h2>
                <ul class="single-place-list v2">
                  <li><span></span> Listings</li>
                </ul>
                <a class="btn v6 explore-place" href="grid-fullwidth-map.html">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="blog-posts v1 pad-bot-60 pad-top-60">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h2 class="section-title v1">Popular Posts</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card single-blog-item v1">
            <img src="assets/images/blog/news_7.jpg" alt="...">
            <a href="#" class="blog-cat btn v6 red">Hotel</a>
            <div class="card-body">
              <h4 class="card-title"><a href="single-news-one.html">Top 10 Homestay in London That you don't miss out</a></h4>
              <div class="bottom-content">
                <p class="date">Sep 28th , 2018 by <a href="#" class="text-dark">Louis Fonsi</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card single-blog-item v1">
            <img src="assets/images/blog/news_8.jpg" alt="...">
            <a href="#" class="blog-cat btn v6 red">Restaurant</a>
            <div class="card-body">
              <h4 class="card-title"><a href="single-news-one.html">Cappuccino Coffee at Broklyn for Coffee Lover.</a></h4>
              <div class="bottom-content">
                <p class="date">Dec 5th , 2018 by <a href="#" class="text-dark">Adam D'Costa</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card single-blog-item v1">
            <img src="assets/images/blog/news_9.jpg" alt="...">
            <a href="#" class="blog-cat btn v6 red">Travel</a>
            <div class="card-body">
              <h4 class="card-title"><a href="single-news-one.html">Top 50 Greatest Street Arts in Paris</a></h4>
              <div class="bottom-content">
                <p class="date">Mar 13th , 2018 by <a href="#" class="text-dark">Mark Henri</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Page Wrapper ends-->
<!--Footer Starts-->
<div style="margin-right: -20%">
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Folow us </h3>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-google"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright" style="margin-right: 35%">
        &copy; Copyright <strong><span>Codynet</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->
</div>
<!--Footer ends-->
<!--Color switcher starts-->

</body>

</html>
