* {
  font-size: 12px;
  font-family: 'Times New Roman';
}

td,
th,
tr,
table {
  border-top: 1px solid black;
  border-collapse: collapse;
}
@media print {
  .btn-secondary{ display:none;}
}

td.description,
th.description {
  width: 80px;
  max-width: 80px;
}

td.quantity,
th.quantity {
  width: 80px;


}

td.price,
th.price {
  max-width: 120px;
}

.centered {
  text-align: center;
  align-content: center;
}

.ticket {
  width: 155px;
  max-width: 155px;
}
.qr{
  width: 0.1%;
  height: 0.0001%;
}



@media print {
  .hidden-print,
  .hidden-print * {
    display: none !important;
  }
}
